<h1>Regions</h1>

<% if @regions.any? %>
  <ul>
    <% @regions.each do |region| %>
      <li><%= link_to region.name, region_path(region) %></li>
    <% end %>
  </ul>
<% else %>
  <h4>There are no regions.</h4>
<% end %>
